<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>Today is <%= kindOfDay %></h1>

    <ul>
        <li>Buy Food</li>
        <li>Prepare Food</li>
        <li>Eat Food</li>
        <% for(var i=0; i<newItems.length; i++) { %>
            <li><%= newItems[i] %></li>            
        <%}%>
        
    </ul>

    <form method="post" action="/" name="toDoItem">
        <input type="text" name="newItem" placeholder="To Do">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>